absl-py==0.10.0
aiohttp==3.6.2
appdirs==1.4.4
apptools==4.5.0
argon2-cffi==20.1.0
array-split==0.5.2
astor==0.8.1
astropy==4.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
bokeh==2.3.1
Brotli==1.0.9
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
contextvars==2.4
csbdeep==0.6.1
cycler==0.10.0
Cython==0.29.21
dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
defusedxml==0.6.0
distributed==2021.3.0
dm-sonnet==2.0.0
dm-tree==0.1.5
docrep==0.3.2
edt==2.0.1
entrypoints==0.3
enum34==1.1.10
envisage==4.9.2
f2format==0.8.6
fastrlock==0.5
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.8.0
flatdict==4.0.1
fsspec==0.9.0
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gdown==3.10.1
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14.1
grpcio==1.31.0
gshell==5.5.2
h5py==2.10.0
HeapDict==1.0.1
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
immutables==0.15
importlib-metadata==1.7.0
iniconfig==1.1.1
ipyevents==0.8.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
json-tricks==3.15.5
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server==1.2.0
kiwisolver==1.2.0
lightgbm==3.2.0
line-profiler==3.1.0
llvmlite==0.34.0
locket==0.2.1
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
memory-profiler==0.58.0
mistune==0.8.4
mpmath==1.2.1
mrcfile==1.3.0
msgpack==1.0.2
multidict==4.7.6
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.1.3
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
objgraph==3.4.1
opencv-python==4.4.0.42
openpnm==2.7.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
partd==1.1.0
passlib==1.7.2
pathlib==1.0.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
plotly-express==0.4.1
pluggy==0.13.1
pooch==1.3.0
porespy==1.3.1
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.13.0
psutil==5.7.3
ptyprocess==0.6.0
py==1.9.0
pyamg==4.0.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycparser==2.20
pyface==7.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.1.2
pytrax==0.1.2
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
rarfile==4.0
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rich==9.3.0
rsa==4.6
scalene==1.1.11
scikit-image==0.17.2
scikit-learn==0.23.2
scikit-optimize==0.8.1
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
simplegeneric==0.8.1
SimpleITK==2.0.2
six==1.15.0
smmap==4.0.0
sortedcontainers==2.3.0
statsmodels==0.12.2
sympy==1.7.1
tabulate==0.8.7
tblib==1.7.0
tbtrim==0.3.1
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.8.25
toml==0.10.2
toolz==0.11.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
traits==6.1.1
traitsui==7.1.0
transforms3d==0.3.1
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.6.0
yaspin==1.2.0
zict==2.0.0
zipp==3.1.0
